<div class="row">

            <div class="tabbable" style="margin-top:50px"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#private_tab" data-toggle="tab">Private Notes</a></li>
              <li><a href="#public_tab" data-toggle="tab">Public Notes</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="private_tab">

                <div class="board context-menu-board" id="board">

                  <ul>
                    
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #4</h2>
                        <p>Text Content #4</p>
                      </a>
                    </li>

                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #3</h2>
                        <p>Text Content #3</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #5</h2>
                        <p>Text Content #5</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #1</h2>
                        <p>Text Content #1</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #2</h2>
                        <p>Text Content #2</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #6</h2>
                        <p>Text Content #6</p>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="tab-pane" id="public_tab">
                
                <div class="board context-menu-board">
                  <ul>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #1</h2>
                        <p>Text Content #1</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #2</h2>
                        <p>Text Content #2</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #3</h2>
                        <p>Text Content #3</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #4</h2>
                        <p>Text Content #4</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #5</h2>
                        <p>Text Content #5</p>
                      </a>
                    </li>
                    <li class="context-menu-note">
                      <a href="#">
                        <h2>Title #6</h2>
                        <p>Text Content #6</p>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </div>

        </div>
