<div class="row">
  <div class="tabbable" style="margin-top:50px">
    <div class="tab-content">
      <div class="tab-pane active" id="public_tab">
        <h1>
          <%=I18n.translate(:please_login)%>
        </h1>
        <div class="board_container context-menu-board">
        </div>
      </div>
    </div>
  </div>
</div>
