<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  		<%=@date%> <br/>
  		<%=@title %><br/>
     	<%= @content %>

		<br/><br/>
    Thank you...!
  </body>
</html>