/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */
textarea {
	resize:none;
}
#user_color{
	width: 180px;
}

.form_container{
	padding-top: 35px;
}

.bg-design{
	margin-top: 26px;
border: 2px solid rgba(111, 144, 146, 0.31);
border-radius: 33px;
background-color: rgb(243, 240, 248);
-moz-box-shadow: 5px 5px 18px #000000;
-webkit-box-shadow: 5px 5px 18px #000000;
box-shadow: 5px 5px 18px #000000;
}

.edit_user .control-label{
	font-size: 1.2em;
 font-style: italic;
  /*color: #0060cc;*/
}
.tab-content .active{
  display: block;
 /* background: url(/assets/bg.jpg);*/
}

.center_align{
	padding-top: 35px;
	padding-left: 38%;
}