#notes_tab{
	margin-top:25px;
}

.nav-tabs {
    margin-bottom: 20px;
    border-bottom: none;
}


.modal-body
{
	margin-left: 100px;
}
.nav-tabs>.active>a
{
	color: #EEE;
background-color: rgb(122, 83, 46);
border-bottom-color: transparent;
cursor: default;
	border:1px solid rgb(122, 83, 46);
	border-radius: 10px;
}
.nav-tabs>.active>a:hover, .nav-tabs li a:hover
{
	color: #EEE;
background-color: rgb(170, 118, 69);
border-bottom-color: transparent;
cursor: default;
	border-radius: 10px;
}

.error{
	color: red;
}

