#notes_tab{
	margin-top:25px;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border:20px solid rgb(122, 83, 46)
}

.nav-tabs {
    margin-bottom: 0;
}


.modal-body
{
	margin-left: 100px;
}
.nav-tabs>.active>a
{
	color: #EEE;
background-color: rgb(122, 83, 46);
border-bottom-color: transparent;
cursor: default;
	border:1px solid rgb(122, 83, 46);
}
.nav-tabs>.active>a:hover, .nav-tabs li a:hover
{
	color: #EEE;
background-color: rgb(170, 118, 69);
border-bottom-color: transparent;
cursor: default;
	border:1px solid rgb(170, 118, 69);
}

.nav-tabs>.active{
}