a
{
  cursor: pointer;
}
.board_container{
  font-family:arial,sans-serif;
  font-size:100%;
  color:#fff;
  min-height: 500px;
  overflow: hidden;
  padding: 22px 0px;

}
h2,p{
  font-size:80%;
  font-weight:normal;
}

.board_container ul,li{
  list-style:none;
}
.board_container ul{
  overflow:hidden;
  /*padding:3em;*/
}
.board_container ul li .notice{
  text-decoration:none;
  color:#000;
  background:#ffc;
  border:1px #000 solid;
  display:block;
  height:12em;
  width:10em;
  padding:1em;

  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  position: relative;
}
.inner_list{
 /*position: relative;*/
}
.inner_list li{
  /*margin-left: 200px;*/
  position: absolute;
}
.board_container ul li{
  margin:1em;
  display: inline-block;
  width: 200px;
  /*position: absolute;*/
}
.board_container ul li:nth-child(4n+1){
  clear:both;
}
.board_container ul li h2{
  font-size:90%;
  font-weight:bold;
  padding-bottom:10px;
}
.board_container ul li p{
    font-family: "Reenie Beanie",arial,sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 12px;
    margin-top: -9px;
    word-wrap: break-word;
}
/*.board_container ul li span.notice{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
  cursor: pointer;
}

.board_container ul li:nth-child(even) span.notice{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.board_container ul li:nth-child(3n) span.notice{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
.board_container ul li:nth-child(5n) span.notice{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}*/
.board_container ul li .notice:hover,.board_container ul li .notice:focus{
 box-shadow:5px 5px 7px #777;
  -moz-box-shadow:5px 5px 7px #777;
  -webkit-box-shadow: 5px 5px 7px #777;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  position:relative;
  z-index:2;
  border:2px #000 solid;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}


.notice h4{
  text-align: center;
  font-size:14px;
  font-weight:bold;
  margin-top:-20px;
  word-wrap: break-word;
  line-height: 14px;
}


.notice .notice_time,.notice .notice_author{
  bottom: 0;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  width:48%;
  display: block;
  overflow: hidden;
}

.notice .notice_author{
  left:1px;
}

.notice .notice_time{
  right:1px;
}
.img_count{
  position: absolute;
  top: -10px;
  left: 20px;
}
.images_popup{
background: #EEE;
padding: 7px;
border-radius: 5px;
border: 1px solid #555;
position: absolute;
top: 16px;
left: 15px;
max-width: 321px;
max-height:200px;
overflow:auto;

}
.images_popup img{
  display: inline-block;
  width:135px;
  padding:10px;
  text-align: center;
}

.sticky_pin{
  height: 30px;
  width: 30px;
  margin-left: 50px;
  margin-top: -50px;
}
.img_icon{
  height: 20px;
  width: 20px;
  left: 0px;
  top: 0px;
  position: absolute;
}
.comment_icon{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
        
  width: 15px;
  right: 20px;
  top: 0px;
  position: absolute;
}
.comment_count{
  position: absolute;
  top: -13px;
  right: 35px;
}

.add_comment_icon{
  width: 15px;
  right: 2px;
  top: 2px;
  position: absolute;
}
/*.comments_popup{
  background: #EEE;
  color: black;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #555;
  position: absolute;
  top: 14px;
  left: 50px;
  max-width: 321px;
  max-height:200px;
  overflow:auto;
}*/
.comments_popup{
  background: #EEE;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  position: absolute;
  top: 14px;
  left: 40px;
  max-width: 200px;
  min-width: 100px;
  max-height: 200px;
  overflow: auto;
  line-height: 13px;
  word-wrap: break-word;
}
.comments_popup div p{
  padding-left:15px;
  font-size: 10px !important;
  font-style: normal !important;
}
.comments_popup div h5{
  font-size:11px;
}
.image_list{
  position: relative;
  border:1px solid #ddd;
  border-radius:5px;
  margin-bottom:10px;
  }
  .image_list img{
    text-align: center;
    margin:0px;
    padding:0px;}

.image_list .This_image{
  text-decoration: none;
  position: absolute;
  top: -10px;
  right: -8px;
  font-weight: bold;
  text-shadow: 0px 0px 5px;
  color: white;
  font-size: 13px;
  background: #000;
  width: 16px;
  height: 19px;
  text-align: center;
  border-radius: 15px;
}
.tabbg_first{
min-height:750px;
width:1%;
display: block;
float:left;
background: url(bg_tabs/border.png) no-repeat;
}
.tabbg_middle{
min-height:750px;
float:left;
width:98%;
background: url(bg_tabs/half.png);

}
.tabbg_last{
  width:1%;
min-height:750px;
float:left;
background: url(bg_tabs/border.png) no-repeat;

}